<h1>All Pokemon</h1>

<table style="border: 1px solid black; border-spacing: 9px;">
	<thead> <tr>
		  <td>Species:</td>
		  <td>Primary Type:</td>
		  <td>Secondary Type:</td>
		</tr>
	</thead>
	
	<tbody>
		<% @pokemons.each do |pokemon| %>
			<tr class="poke-row" id="<%= dom_id(pokemon) %>">
				<td class="name" style="border: 1px solid black;"><%= pokemon.species %></td>
				<td class="name" style="border: 1px solid black;"><%= pokemon.primary_type %></td>
				<td class="name" style="border: 1px solid black;"><%= pokemon.secondary_type %></td>
			</tr>
		<% end %> 
	</tbody>
</table>